{% extends "draw/base.html" %}
{% block content %}
    <div class="container pt-5">
        <div class="jumbotron">
            <h1 class="display-4">Wylosuj tajemniczego mikołaja!</h1>
            <p class="lead">Wpisz imiona osób, które biorą udział w losowaniu, oraz ich adresy e-mail. Każdy z uczestników otrzyma maila z imieniem wylosowanej osoby, której będzie robić prezent.</p>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <p>{{ valid }}</p>
        
     
        <form id="namesAndEmails" class="row g-3" method="POST"
            
            {% if subtract %}
                action="http://localhost:8000/?rows={{ valueRowsButtonInRow }}"
            {% else %}
                action="http://localhost:8000/?rows={{ valueRowsButtonToggle }}"
            {% endif %}
            >
            {{ formset.management_form }}
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="row g-3">
                </div>
                
                {% for form in formset %}
                    <div>
                        <label class="col-sm-2 col-form-label">{{ forloop.counter }}.</label>
                        {{ form }}
                    </div> 
                {% endfor %}
            </fieldset>
            <div class="row g-3">
                <button type="submit" class="btn btn-primary" name="changeNoOfRows" value="add">+ Dodaj kolejną osobę</button>
                <button type="submit" class="btn btn-primary" name="changeNoOfRows" value="subtract" >– Usuń ostatni rząd</button>
                <button type="submit" class="btn btn-warning">Losuj</button>
            </div> 
        </form> 
    </div>
{% endblock content %}