{% extends "draw/base.html" %}
{% block content %}
    <div class="container pt-5">
        <div class="jumbotron">
            <h1 class="display-4">Wylosuj tajemniczego mikołaja!</h1>
            <p class="lead">Wpisz imiona osób, które biorą udział w losowaniu, oraz ich adresy e-mail. Każdy z uczestników otrzyma maila z imieniem wylosowanej osoby, której będzie robić prezent.</p>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <p>{{ x }}</p>
  
        <form id="namesAndEmails" class="row g-3" method="POST"
            {% if subtract %}
                action="http://localhost:8000/?rows={{ valueRowsButtonInRow }}"
            {% else %}
                action="http://localhost:8000/?rows={{ valueRowsButtonToggle }}"
            {% endif %}
            >
            {% csrf_token %}
            <div class="row g-3">
            </div>
            {% for name, email in rows%}
                <div class="col-sm-1">
                    <label for="name{{ forloop.counter }}" class="col-sm-2 col-form-label">{{ forloop.counter }}.</label>
                </div>
                {{ form }}
            {% endfor %}
            <div class="row g-3">
                <input type="hidden" id="plusRows" name="changeNoOfRows" value="add">
                <button type="submit" class="btn btn-primary">+ Dodaj kolejną osobę</button>

                <input type="hidden" id="minusRows" name="minusRows" value="subtract">
                <button name="minusRowsButton" type="submit" class="btn btn-primary">– Usuń ostatni rząd</button>

                <button type="submit" class="btn btn-warning">Losuj</button>
            </div> 
        </form> 
    </div>
{% endblock content %}