{% extends "draw/base.html" %}
{% block content %}
    <div class="container pt-2">
        <h2>Draw names online</h2>
        <p class="lead">Insert names and emails to people who will take part in Secret Santa draw. Every participant will get an email with the further instructions. 
        {% if user.is_authenticated %}
            Go to <a href={% url 'profile'%}>Profile page</a>
        {% else %}
            <a href={% url 'login'%}>Log in</a> or <a href={% url 'register'%}>Register</a> 
        {% endif %}
        if you want to save data for later.</p>
     
        <form id="namesAndEmails" class="row g-3" method="POST">
            {{ formset.management_form }}
            {% csrf_token %}
            <fieldset class="form-group">
                {% for form in formset %}
                    <div class="row">
                        <div class="form-group col-sm-1 mb-3">
                            <label class="col-form-label">{{ forloop.counter }}.</label>
                        </div>
                        <div class="form-group col-sm-4 mb-3">
                            {{ form.name }}
                        </div>
                        <div class="form-group col-sm-7 mb-3">
                            {{ form.email }}
                        </div>
                    </div> 
                {% endfor %}
            </fieldset>
            <div class="row mt-3">
                <button type="submit" class="btn btn-primary mb-3 rememberScrollPos" name="addSubtractOrDraw" value="add">+ Add person</button>
                <button type="submit" class="btn btn-primary mb-3 rememberScrollPos" name="addSubtractOrDraw" value="subtract" >– Remove last row</button>
                <button type="submit" class="btn btn-warning" name="addSubtractOrDraw" value="draw">Draw</button>
            </div> 
        </form> 
    </div>

    <script type="text/javascript">
        (function($){
            /**
            * Store scroll position for and set it after reload
            *
            * @return {boolean} [loacalStorage is available]
            */
            $.fn.scrollPosReaload = function(){
                if (localStorage) {
                    var posReader = localStorage["posStorage"];
                    if (posReader) {
                        $(window).scrollTop(posReader);
                        localStorage.removeItem("posStorage");
                    }
                    $(this).click(function(e) {
                        localStorage["posStorage"] = $(window).scrollTop();
                    });

                    return true;
                }

                return false;
            }
        
/* ================================================== */

        $(document).ready(function() {
            // Feel free to set it for any element who trigger the reload
            $('.rememberScrollPos').scrollPosReaload();
        });
    
    }(jQuery)); 


    </script>

{% endblock content %}