{% extends "draw/base.html" %}
{% block content %}
    <div class="container pt-2">
        <h2>{{ user.username }}</h2>
        <h2>{{ test }}</h2>
        
        
        
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-4">Name</th>
                    <th scope="col-6">Email</th>
                    <th scope="col-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <form id="namesAndEmailsFromDB" class="row g-3" method="POST">
                        {{ formset.management_form }}
                        {% csrf_token %}
                        {% for participant in participants %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ participant.name }}</td>
                                <td>{{ participant.email }}</td>
                                <td><button type="submit" class="btn btn-danger" name="deleteAddSubtractSaveOrDraw" value="{{ forloop.counter }}">Delete</button></td>
                            </tr>
                        {% endfor %}
                    </form>
                    <form id="namesAndEmailsNew" class="row g-3" method="POST">
                        {% csrf_token %}
                        <tr>
                            <th scope="row">new</th>
                            <td><div class="form-group col-sm-6 mb-3">
                                {{ form.name }}
                            </div></td>
                            <td><div class="form-group col-sm-6 mb-3">
                                {{ form.email }}
                            </div></td>
                            <td><button type="submit" class="btn btn-primary" name="deleteAddSubtractSaveOrDraw" value="save">Add</button></td>
                        </tr>
                    </form>
                </tbody>
            </table>
            <div class="row mt-3">
                <button type="submit" class="btn btn-warning rememberScrollPos" name="deleteAddSubtractSaveOrDraw" value="draw">Draw</button>
            </div>         
     
    

        
    </div>
{% endblock content %}