{% extends "draw/base.html" %}
{% block content %}
    <div class="container pt-5">
        <div class="jumbotron">
            <h1 class="display-4">Zarejestruj się</h1>
        </div>
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ form.username.label }}
                    {{ form.username }}
                    {{ form.username.help_text}}
                </div>
                <div>
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div>
                    {{ form.password1.label }}
                    {{ form.password1 }}
                    {{ form.password1.help_text|linebreaks}}
                </div>
                <div>
                    {{ form.password2.label }}
                    {{ form.password2 }}
                    {{ form.password2.help_text}}
                </div>

            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Utwórz konto</button>
            </div>
        </form>
        <div>
            <small class="text-muted">
                Masz już konto? <a href=#>Zaloguj się</a>
            </small>
        </div>
    </div>
{% endblock content %}