{% extends "draw/base.html" %}
{% block content %}
    <div class="container pt-2">
        <h2>Create account</h2>

        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group mb-1">
                    <label>{{ form.username.label }}</label>
                    {{ form.username }}
                    <small class="form-text text-muted">{{ form.username.help_text}}</small>
                </div>
                <div class="form-group mb-1">
                    <label>{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="form-group mb-1">
                    <label>{{ form.password1.label }}</label>
                    {{ form.password1 }}
                    <small class="form-text text-muted">{{ form.password1.help_text|linebreaks}}</small>
                </div>
                <div class="form-group mb-2">
                    <label> {{ form.password2.label }}</label>
                    {{ form.password2 }}
                    <small class="form-text text-muted">{{ form.password2.help_text}}</small>
                </div>
            </fieldset>
            <div class="form-group mb-2">
                <button type="submit" class="btn btn-primary">Sign up</button>
                <small class="text-muted">
                    Already have an account? <a href={% url 'login'%}>Sign in</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}