{% extends "draw/base.html" %}
{% block content %}
    <div class="container">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Zarejestruj się</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </form>
        <div>
            <small class="text-muted">
                Masz już konto? <a href=#>Zaloguj się</a>
            </small>
        </div>
    </div>
{% endblock content %}